.home {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/bake.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: relative;
    color: white;
}

.navbar {
    width: 94%;
    margin-left: 3%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.164);
    position: absolute;
    top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 2%;
    border-radius: 20px;
}

.navbar h3 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: 24px;
    font-weight: 700;

}

.navbar h3 span {

    font-size: 12px;
}


.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

ul li a{
    font-size: 12px;
    font-weight: 400;
    color:white;
    text-decoration: none;
}
.active{
    border-bottom: 1.4px solid white;
    padding: 3px 0;
}
.right {
    display: flex;
    align-items: center;
    gap: 45px;
}

.right p {
    font-size: 13.5px;
    font-weight: 400;
}

.right button {
    color: white;
    background-color: transparent;
    border: 1.2px solid white;
    padding: 8px 20px;
    border-radius: 20px;
}

.right button:hover {
    border-color: black;

}

.login {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, 0%);

}

.login button {
    color: white;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.817);
    border: 1px solid white;
    padding: 13px 50px;
    border-radius: 20px;

}