.main {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
  padding: 10% 15%;
  
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 15%;
}

.title h2{
    margin-bottom: 1.2rem;
}

.title p{
    line-height: 1.5rem;
    opacity: 0.7;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 9%;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: space-between;
    padding-right: 2rem;
}

.card i{
    height: 5rem;
    font-size: 2rem;
    color: #FFBF00;
    opacity: 0.7;
}
.card i:hover{
    opacity: 1;
    cursor: pointer;
}

.card h3{
   color: #FFBF00;
   margin-bottom: 1rem;
}

.card p{
    color: grey;
    opacity: 0.8;
    font-size: 0.8rem;
    word-spacing: 2px;
}



